%header
  = link_to logo, root_path
  %nav.round
    %ul
      %li= link_to_unless_current "Home", root_path
      |
      - if signed_in?
        / %li= link_to_unless_current "Users", users_path
        / |
        %li= link_to_unless_current "Reviews of You", current_user
        |
        %li= link_to_unless_current "Settings", edit_user_path(current_user)
        |
      - if signed_in?
        %li= link_to "Sign out", signout_path, :method => :delete
      - else
        %li= link_to_unless_current "Sign in", signin_path

